:where(html) {
	--bu-components-modal-header-height: 60px;
	--bu-components-modal-maxheight: 75vh;
	--bu-components-post-chooser-results-border-color: #c7b9a7;
	--bu-components-post-chooser-results-border-color-darker: #b1a495;
	--bu-components-post-chooser-results-text-color-darker: #7c7063;
	--bu-components-post-chooser-results-text-color-heading: #4e4b48;
}

.bu-components-post-chooser-modal {
	background-color: #fef8ee;
	border-radius: 10px;
	max-height: var(--bu-components-modal-maxheight);
	overflow: hidden;
	position: relative;
    max-width: 768px;
    width: 100%;

	.components-modal__header {
		height: var(--bu-components-modal-header-height, 60px);
		margin-bottom: 0;
	}
}

.bu-components-post-chooser-modal-container {
    display: flex;
	flex-direction: column;
	height: calc(var(--bu-components-modal-maxheight) - var(--bu-components-modal-header-height) ); // subtract header height
	margin: 0 -32px 24px;
	overflow: auto;
}

.bu-components-post-chooser-search-type {
	width: 100%;
	text-align: center;
}

// Results container div in the post chooser modal.
.bu-components-post-chooser-results-scrollable {
	height: 100%;
	min-height: 200px;
	overflow: auto;
	padding: 12px;
	container-type: size;
	container-name: bu-components-post-chooser-results-scrollable;
	position: relative;
}

// Results container div in the post chooser modal.
.bu-components-post-chooser-results-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;

	&:has(.bu-components-post-chooser-results-message) {
		height: 100%;
	}

	.bu-components-loading-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
}


.bu-components-post-chooser-pagination {
	.components-button.is-secondary:disabled {
		background-color: #f4ede5;
	}
}
