.bu-components-post-chooser-results-item {
	container-name: bu-components-post-chooser-results-item;
	container-type: inline-size;
}

.bu-components-post-chooser-results-item-container {
	align-items: center;
	background: #f4ede4;
	border: 1px solid var(--bu-components-post-chooser-results-border-color, #c7b9a7);
	border-radius: 4px;
	display: grid;
	gap: 0px 0px;
	grid-template-columns: 1fr 60px;
	grid-template-rows: auto auto;
	grid-template-areas:
		"Title Title"
		"Details Action";
	padding: clamp(5px, 2cqw, 15px);
	transition: all 300ms ease-in-out 0s;

	[data-placeholder="true"] & {
		background-color: lightgray;
		opacity: 0.35;
	}

	@container bu-components-post-chooser-results-item (width > 500px) {
		grid-template-areas:
		"Title Action"
		"Details Action";
	}

	&:hover {
		border-color: var(--bu-components-post-chooser-results-border-color-darker, #b1a495);
		background: #fffbf6;
		box-shadow: 0 0 10px 0 #00000024;
	}
}


.bu-components-post-chooser-results-item-title {
	grid-area: Title;
	color: var(--bu-components-post-chooser-results-text-color-heading, #000);
	font-weight: bold;
	margin-block: 0.25em;
	line-height: 1.4;
}




.bu-components-post-chooser-results-item-metadata {
	grid-area: Details;
	display: flex;
	gap: 2em;
}

.bu-components-post-chooser-results-item-modified,
.bu-components-post-chooser-results-item-status {
	font-size: 0.8em;
	font-style: italic;
	text-transform: capitalize;

	strong {
		display: block;
	}

	@container bu-components-post-chooser-results-item (width >= 500px) {
		strong {
			display: inline;
		}
	}
}


.bu-components-post-chooser-results-item-link {
	display: block;
	font-size: 0.75em;
	margin-block: 1ch;

	@container bu-components-post-chooser-results-item (width >= 500px) {
		display:inline-block;
		margin-block: 0;
		margin-inline: 1ch;
	}

	.components-external-link {
    	border: 1px solid var(--bu-components-post-chooser-results-border-color);
		border-radius: 25px;
    	color: var(--bu-components-post-chooser-results-text-color-heading);
		display: flex;
    	align-items: center;
    	font-size: 0.75em;
		padding: 3px 5px;
		position: relative;
    	text-decoration: none;
		transition: all 300ms ease-in-out 0s;
		transform: translateY(-3px);
		white-space: nowrap;
		width: fit-content;




		// Create a larger hit target for link.
		&::before {
			content:'';
			display: block;
			position: absolute;
			left: -10px;
			right: -10px;
			top: -10px;
			bottom: -10px;
		}

		.bu-components-post-chooser-results-item-link-text {
			display: inline-block;
			max-width: auto;
			overflow: hidden;
			transition: all 300ms ease-in-out 0s;

			@container bu-components-post-chooser-results-item (width >= 500px) {
				max-width: 0;
			}
		}

		.components-external-link__icon {
			margin-top: 0;
		}

		&:hover {
			background: var(--bu-components-post-chooser-results-border-color);
			font-size: 0.75em;
			opacity: 1;
			color: var(--bu-components-post-chooser-results-text-color-heading);
			padding: 3px 10px;

			.bu-components-post-chooser-results-item-link-text {
				max-width: 100%;
			}
		}
	}
}


.bu-components-post-chooser-results-item-type {
	background: #73959e;
	border-radius: 5px;
	padding: 3px 6px;
	color: white;
	text-transform: capitalize;
	font-size: 0.9em;
	margin: 0 5px;

	[data-placeholder="true"] &{
		min-width: 5ch;
		display: inline-block;
		min-height: 2ch;
	}
}

.bu-components-post-chooser-item-select-button {
	border: 1px solid var(--bu-components-post-chooser-results-border-color);
	background-color: transparent;
	color: var(--bu-components-post-chooser-results-text-color-darker);
	grid-area: Action;
	text-align: center;
	align-self: center;
	transition: all 300ms ease-in-out 0s;

	[data-placeholder="true"] & {
		min-width: 5ch;
		background-color: #73959e;
	}

}

.bu-components-post-chooser-results-item:hover .bu-components-post-chooser-item-select-button {
	border-color: var(--wp-admin-theme-color);
	background-color: var(--wp-admin-theme-color);
	color: white;
}
