.bu-components-post-chooser-modal {
    max-width: 768px;
    width: 100%;
	max-height:50vh;
	position: relative;
	background-color: #fef8ee;
}
.bu-components-search-controls {
	position: sticky;
	top: 60px; //height of modal header
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #fff;
	padding: 2em;
	margin: -24px -32px 0 -32px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
}


.bu-components-post-chooser-searchtype {
	.components-base-control__field {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		.components-base-control__label {
			margin-right: 1em;
		}

		.components-radio-control__option {
			margin-right: 1em;
		}

	}
}



.bu-components-post-chooser-search-bar {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	gap: 1em;

	.bu-components-post-chooser-search-field {
		width: 100%;
		.components-base-control__field {
			margin-bottom: 0;
		}
		.components-text-control__input {
			font-size: 18px;
		}
	}


	.bu-components-post-chooser-search-button {
		//margin: 19px 10px 10px 10px;
		display: block;
		// &:disabled {
		// 	opacity: 0.25;
		// }
	}
}




.bu-components-post-chooser-results {
	min-height: 10vh;
	position: relative;


	.bu-components-loading-spinner {
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		z-index: 2;
	}

}


.bu-components-post-chooser-results-item-container {
	border: 1px solid #c7b9a7;
	border-radius: 4px;
	padding: 3px 10px 3px 5px;
	display: grid;
	grid-template-columns: 1fr 60px;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "content select";
	transition: all 300ms ease-in-out 0s;

	.bu-components-post-chooser-results-item-placeholder & {
		background-color: lightgray;
		opacity: 0.35;
	}

	&:hover {
		border-color: #b1a495;
		background: #f4ede4;
		box-shadow: 0 0 10px 0 #00000024;
	}
}

.bu-components-post-chooser-results-item-inner {
	grid-area: content;

	padding: 4px;
	margin-right: 5px;
	display: grid;
	grid-template-columns: 1fr 60px;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "postdetails posttype";
}

.bu-components-post-chooser-results-item-postdetails {
	grid-area: postdetails;

	.bu-components-post-chooser-results-item-title {
		font-weight: bold;
	}

	.bu-components-post-chooser-results-item-metadata {
		display: flex;
		gap: 2em;
	}

	.bu-components-post-chooser-results-item-modified,
	.bu-components-post-chooser-results-item-status {
		font-size: 0.8em;
		font-style: italic;
	}
}

.bu-components-post-chooser-results-item-link {
	margin-left: 2ch;
	font-size: 0.75em;

	.components-external-link {
		opacity: 0.5;
		color: black;
		transition: all 300ms ease-in-out 0s;

		&:hover {
			opacity: 1;
			color: #2271b1;
		}
	}
}

.bu-components-post-chooser-results-item-posttype {
	grid-area: posttype;
	align-self: center;
	justify-content: flex-end;
	text-align: right;
}

.bu-components-post-chooser-results-item-type {
	background: #73959e;
	border-radius: 5px;
	padding: 3px 6px;
	color: white;
	text-transform: capitalize;
	font-size: 0.9em;
	margin: 0 5px;

	.bu-components-post-chooser-results-item-placeholder & {
		min-width: 5ch;
		display: inline-block;
		min-height: 2ch;
	}
}

.bu-components-post-chooser-item-select-button {
	grid-area: select;
	text-align: center;
	align-self: center;
	transition: all 300ms ease-in-out 0s;

	&:hover {
		background: var(--wp-admin-theme-color);
		color: #fff;
	}
	.bu-components-post-chooser-results-item-placeholder & {
		min-width: 5ch;
		background-color: #73959e;
	}
}


