.bu-components-help-wrapper {
	--bu_components_help_wrapper_icon_color: var(--wp-admin-theme-color, #000);
	--bu_components_help_wrapper_icon_hover_color: var(--wp-admin-theme-color-darker-20);
	position: relative;

	&.has-offset-label {
		.bu-components-help-wrapper-container  {
			position: absolute;
			z-index: 10;
			width: 20px;
			right: 0;
		}
	}
}

.bu-components-help-wrapper-container {
	display: flex;
	justify-content: flex-end;

	.dashicon {
		color: var(--bu_components_help_wrapper_icon_color);

		&:hover {
			cursor: pointer;
			color: var(--bu_components_help_wrapper_icon_hover_color);
		}
	}
}

.bu-components-help-wrapper-popover {

	.components-popover__content {
		padding: 1em;
		min-width: 300px;
	}
}
