.edit-post-settings-sidebar__panel-block .components-panel__body.components-panel__body-bu-background-media {

	button + .components-range-control,
	.is-button + .is-button {
		margin-top: 1.5em;
	}
}

.components-bu-background-url-note {
	background: rgba(139,139,150,.1);
	padding: 0 13px 13px;
	text-align: center;

	.editor-block-list__block-edit &,
	.block-editor-block-list__block-edit & {
		font-size: 13px;
		margin-top: 0;
	}
}

.wp-block-background-is-uploading {
	position: relative;

	img {
		opacity: .5;
	}

	.components-spinner {
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}